* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bgcolor1:#d9ed92;
  --bgcolor2:#76c893;
  --btncolor1:#1a759f;
  --btncolor2:#081c15;
}

body {
  background-image: linear-gradient(120deg, var(--bgcolor1) 0%, var(--bgcolor2) 100%);
  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 2rem;
}

header,
form {
  min-height: 14vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttontest, form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: rgb(255, 255, 255);
}
input{width: 500px;}
.buttontest{
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
  width: 250px;
}
.inputResize {
  width: 720px;
}
.label{
  color:rgb(0, 0, 0);
}

.mybutton{
  min-height: 1vh;
  min-width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
label {
  color : rgb(255, 255, 255);
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttontest, form button {
  color: var(--btncolor2);
  background: var(--btncolor1);
  cursor: pointer;
  transition: all 0.3s ease;
}
.buttontest:hover,form button:hover {
  background: var(--btncolor2);
  color:var(--btncolor1);
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.filter-todo {
  padding: 1rem;
}
.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: var(--btncolor1);
  color: var(--btncolor2);
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: var(--btncolor2);
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: var(--btncolor1);
  cursor: pointer;
  pointer-events: none;
}
/* Transition */
/*
.select:hover::after {
  transform: scale(1.5);
}
*/

.label_SHA {
  width: 900px;
  height: 52.64px;
  font-size: 25px;;
}
